<h1> Article Listing page </h1>

<table>
    <thead>
        <tr>
            <th> Title </th>
            <th>Actions </th>
        </tr>
    </thead>
    <tbody>
        <% @a_index.each do |a| %>
        <tr>
            <td><%= a.title%> </td>
            <td><%= link_to 'Delete', article_path(a), method: :delete %> </td>
        </tr>
        <% end%>
    </tbody>


</table>