<div id="page-content">
    <div class ="container" id ="home-container">
        <div class="jumbotron text-center text-white">
        <h1 class="display-4">Aplha-Blog</h1>
        <p class="lead">Welcome, to the About page of the alpha-blog created using rails 6 </p>
        <hr class="my-4">
        <p>IIn the alpha-blg we are creating articles in which we are adding title and descriptions to it and doing CRUD functionality to it.</p>
        </div>
    </div> 
</div>
<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "Storyaroundthecorner", "https://storyaroundthecorner.wordpress.com/", class: "text-white"%></small>
    </div>
</footer>


